name: Server CI/CD
on:
    push:
        branches:
            - main
        paths:
            - "server/**"
            - ".github/workflows/server.yml"
    repository_dispatch:

jobs:
    lint:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./server
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: "lts/*"
                  cache: "npm"
                  cache-dependency-path: server/package-lock.json
            - run: npm ci
            - run: npm run eslint
            - run: npm run prettier

    build-and-deploy:
        runs-on: ubuntu-latest
        needs:
            - lint
        timeout-minutes: 30
        defaults:
            run:
                working-directory: ./server
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: "lts/*"
                  cache: "npm"
                  cache-dependency-path: server/package-lock.json
            - run: npm ci
            - run: npm run build --if-present
            - name: Deploy Server to Cloudflare
              uses: cloudflare/wrangler-action@2.0.0
              with:
                  apiToken: ${{ secrets.CF_API_TOKEN }}
                  workingDirectory: ./server

    semantic-release:
        runs-on: ubuntu-latest
        needs:
            - build-and-deploy
        defaults:
            run:
                working-directory: ./server
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: "lts/*"
                  cache: "npm"
                  cache-dependency-path: server/package-lock.json
            - run: npm ci
            - run: npx semantic-release
              name: Semantic Release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    k6-load-test:
        runs-on: ubuntu-latest
        timeout-minutes: 10
        needs:
            - build-and-deploy
        steps:
            - uses: actions/checkout@v3
            - name: Run local k6 test
              uses: grafana/k6-action@v0.2.0
              with:
                  filename: scripts/test.js
                  flags: --out json=results-${{ github.head_ref }}.${{ github.sha }}.json
            - name: Upload performance test results
              uses: actions/upload-artifact@v3
              with:
                  name: k6-report
                  path: results-${{ github.head_ref }}.${{ github.sha }}.json
